{% extends 'base.html' %}

{% block title %}Delver{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Delver</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    {% endblock %}
    
    <h1 style="color: navy">Welcome {{name}} To My Flask App!</h1>
    <p>Loaded from an HTML Template!</p>
    <script src="{{ url_for('static', filename='bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js') }}"></script>
    

    {% block content %}
    <h1>This is my Flask app!</h1>
    <p>Using Jinja2 & Templates</p>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='images/headshot01.jpg')}}" class="card-img-top" alt="Profile">
        <div class="card-body">
            <h5 class="card-title">Avery Garner</h5>
            <p class="card-text">Professional Slow Walker</p>
            <a href="#" class="btn btn-primary">View Profile</a>
        </div>
    </div>
    {% endblock %}
    {% block footer %} {% endblock %}