{% extends 'base.html' %}

{% block title %}Delve{% endblock %}





    {% block content %}
            <div class="row">
                <div class="col-4 mb-3">
                    <div>
                        <img src="{{ url_for('static', filename='images/grey.png') }}" alt="placeholder">
                    </div>
                    <p class="fs-5 my-0">Title</p>
                    <p class="fs-6 my-0">Genre/Type</p>
                    <p class="fs-6 my-0">Developer/Producer</p>
                </div>
                <div class="col-4 mb-3">
                    <div>
                        <img src="{{ url_for('static', filename='images/grey.png') }}" alt="placeholder">
                    </div>
                    <p class="fs-5 my-0">Title</p>
                    <p class="fs-6 my-0">Genre/Type</p>
                    <p class="fs-6 my-0">Developer/Producer</p>
                </div>
                <div class="col-4 mb-3">
                    <div>
                        <img src="{{ url_for('static', filename='images/grey.png') }}" alt="placeholder">
                    </div>
                    <p class="fs-5 my-0">Title</p>
                    <p class="fs-6 my-0">Genre/Type</p>
                    <p class="fs-6 my-0">Developer/Producer</p>
                </div>
                <div class="col-4 mb-3">
                    <div>
                        <img src="{{ url_for('static', filename='images/grey.png') }}" alt="placeholder">
                    </div>
                    <p class="fs-5 my-0">Title</p>
                    <p class="fs-6 my-0">Genre/Type</p>
                    <p class="fs-6 my-0">Developer/Producer</p>
                </div>
                <div class="col-4 mb-3">
                    <div>
                        <img src="{{ url_for('static', filename='images/grey.png') }}" alt="placeholder">
                    </div>
                    <p class="fs-5 my-0">Title</p>
                    <p class="fs-6 my-0">Genre/Type</p>
                    <p class="fs-6 my-0">Developer/Producer</p>
                </div>
                <div class="col-4 mb-3">
                    <div>
                        <img src="{{ url_for('static', filename='images/grey.png') }}" alt="placeholder">
                    </div>
                    <p class="fs-5 my-0">Title</p>
                    <p class="fs-6 my-0">Genre/Type</p>
                    <p class="fs-6 my-0">Developer/Producer</p>
                </div>
                <div class="col-4 mb-3">
                    <div>
                        <img src="{{ url_for('static', filename='images/grey.png') }}" alt="placeholder">
                    </div>
                    <p class="fs-5 my-0">Title</p>
                    <p class="fs-6 my-0">Genre/Type</p>
                    <p class="fs-6 my-0">Developer/Producer</p>
                </div>
                <div class="col-4 mb-3">
                    <div>
                        <img src="{{ url_for('static', filename='images/grey.png') }}" alt="placeholder">
                    </div>
                    <p class="fs-5 my-0">Title</p>
                    <p class="fs-6 my-0">Genre/Type</p>
                    <p class="fs-6 my-0">Developer/Producer</p>
                </div>
                <div class="col-4 mb-3">
                    <div>
                        <img src="{{ url_for('static', filename='images/grey.png') }}" alt="placeholder">
                    </div>
                    <p class="fs-5 my-0">Title</p>
                    <p class="fs-6 my-0">Genre/Type</p>
                    <p class="fs-6 my-0">Developer/Producer</p>
                </div>
                <div class="col-4 mb-3">
                    <div>
                        <img src="{{ url_for('static', filename='images/grey.png') }}" alt="placeholder">
                    </div>
                    <p class="fs-5 my-0">Title</p>
                    <p class="fs-6 my-0">Genre/Type</p>
                    <p class="fs-6 my-0">Developer/Producer</p>
                </div>
                <div class="col-4 mb-3">
                    <div>
                        <img src="{{ url_for('static', filename='images/grey.png') }}" alt="placeholder">
                    </div>
                    <p class="fs-5 my-0">Title</p>
                    <p class="fs-6 my-0">Genre/Type</p>
                    <p class="fs-6 my-0">Developer/Producer</p>
                </div>
            </div> 
    

    {% endblock %}
  